.scroll-x {
    display: flex;
    gap: 12px;
    /* espace entre les items */
    overflow-x: auto;
    /* défilement horizontal */
    padding: 12px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* défilement fluide */
}

.scroll-x::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge moderne */
}


img {
    max-height: 500px;
}

p {
    text-align: justify;
}

.Myborder {
    padding: 0;
    border-left: 1px #23759e solid;
    border-right: 1px #23759e solid;
    transition: 0.5s;
}

.Myborder:hover {
    transform: translateY(-10px);
    box-shadow: 0px -2px 5px rgb(158, 157, 157);
}

.focusMatiere:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

.chargingpoint {
    display: inline;
    animation: animationPoints 2s linear infinite;
}


@keyframes animationPoints {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}